header .container {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
