@import "tailwindcss";
@import "swiper/css";
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Roboto Flex", sans-serif;
  --font3: "Arial", sans-serif;
  --font4: "Dela Gothic One", sans-serif;
}

@theme {
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Roboto Flex", sans-serif;
  --font3: "Arial", sans-serif;
  --font4: "Dela Gothic One", sans-serif;

  --color-btn-bg: #0074d4;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
